<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<link href="app/css/main.css" rel="stylesheet">
<script src="app/lib/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/TrickyWordCtrl.js"></script>
<body>
<div ng-app="myApp" ng-controller="TrickyWordCtrl">

    <div class="top">
        <p ng-if="wordMid.length>0" class="p_mid">{{lineLeft}} <span class="span_highlight">{{wordMid}}</span> {{lineRight}}</p>
        <p ng-if="word.length>0" class="p_mid_large">{{word}}</p>
    </div>

    <div class="center">
        <table>
            <tr>
                <td><a href="#" class="button" ng-click="next()">Next</a></td>
                <td><label>Auto:<input type="checkbox" ng-model="autoPlay" ng-click="auto()"></label></td>
                <td><label>Section : <select ng-model="selectedSection" ng-options="x.name for x in sections" ng-change="updateSection()"></select></label></td>

            </tr>
        </table>
</div>
</body>
</html>

